@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* ----------------- ROOT VARIABLES ---------------------------- */

:root {
    --color-primary: rgb(251, 255, 36);
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-ligth: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #ffbb55;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --text-primary: #565360;
    --font-weight-heavy: 600;
    --primary: #66a5ea;
}


.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
	font-family: 'Roboto', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

.forms2 {
    /* border: 2px solid; */
    width: fit-content;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

form{
    background-color: lavender;
    margin: 10px;
    padding: 10px;
    width: 90%;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

button{
    border: 1px solid;
    background-color: lawngreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

input[type=text], input[type=email], input[type=password]{
    border: 1px solid;
    height: 20px;
    width: 50%;
    border-radius: 5px;
    text-align: center;
}

button:hover{
    background-color: rgb(78, 99, 58);
    font-weight: bold;
    color: white;
    transform: 1s;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark)
}

.primary{
    color: var(--color-primary)
}
.danger{
    color: var(--color-danger)
}
.success{
    color: var(--color-success)
}
.warning{
    color: var(--color-warning)
}

aside{
    height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}
.typewriter h1, .typewriter h2 {
    color: black;
    font-family: Georgia, serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .20em solid yellow; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 7.5s steps(31, end),
      blink-caret .7s step-end alternate;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: yellow }
  }


  /* ============ FOOTER ============== */
  .wrapper-fluid .header .container {
	padding: 0;
}

@media (min-width: 992px) {
	.wrapper-fluid .header .container {
		height: auto;
	}
}


.header>.container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: vertical;
	-ms-flex-align: vertical;
	align-items: vertical;
	-webkit-box-pack: vertical;
	-ms-flex-pack: vertical;
	justify-content: vertical;
	height: calc(var(--header-height));
}

@media (max-width: 991px) {
	.header>.container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: vertical;
		-ms-flex-direction: vertical;
		flex-direction: vertical;
		height: auto;
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}



  .row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 1.5rem;
}
.row-divided:not(:last-child) {
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: solid 1px var(--divider);
}
.dataTables_wrapper .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.dataTables_wrapper .row:not(:last-child) {
	padding-bottom: .5rem;
	margin-bottom: 1.5rem;
	border-bottom: solid 1px var(--divider);
}

  .card-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: vertical;
	-ms-flex-align: vertical;
	align-items: center;
	background: var(--background-secondary);
	margin-top: 1rem;
	padding: 1rem 1.25rem;
	border: none;
	border-radius: 0.5rem !important;
}

  .footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: vertical;
	-ms-flex-direction: vertical;
	flex-direction: column;
	background: var(--background-dark);
	width: 100%;
	margin-top: 1rem;
	color: rgba(0, 0, 0, 0.7);
}

.footer-main .container {
	padding-top: 3.25rem;
	padding-bottom: 2.5rem;
}

@media (max-width: 1199px) {
	.footer-main .row [class*="col"]:first-child {
		display: none;
	}
}

.footer-extra .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: vertical;
	-ms-flex-align: vertical;
	align-items: center;
	-ms-flex-wrap: vertical;
	flex-wrap: wrap;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-top: solid 1px rgba(0, 0, 0, 0.7);
}

@media (max-width: 991px) {
	.footer-extra .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: vertical;
		-ms-flex-direction: vertical;
		flex-direction: vertical;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}

.footer-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: vertical;
    
	-webkit-box-orient: vertical;
	-webkit-box-direction: vertical
;
	-ms-flex-direction: vertical;
    
	flex-direction: vertical;
	height: 100%;
}

.footer-section-title {
	margin-bottom: 1rem;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.5rem;
	font-weight: var(--font-weight-heavy);
}

.footer-section-content {
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.975rem;
	font-weight: var(--font-weight-regular);
	line-height: 1.8;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.footer-section-footer {
	margin-top: 1.5rem;
}

@media (min-width: 992px) {
	.footer-section-links {
		border-left: solid 1px rgba(0, 0, 0, 0.7);
		padding-left: 1.5rem;
	}
	.footer-section-store {
		border-left: solid 1px rgba(0, 0, 0, 0.7);
		padding-left: 1.5rem;
	}
}

.footer-logo {
	height: 200%;
	text-align: center;
}

.footer-logo img {
	max-width: 150px;
    margin-bottom: 10ch;
    margin-top: 10ch;
    height: auto;
}

.footer-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: column;
	-webkit-box-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.footer-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 -0.75rem;
	padding: 0.5rem 0.75rem;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1rem;
	border-radius: 0.5rem;
	-webkit-transition: background 0.25s ease, color 0.25s ease, padding 0.25s ease;
	transition: background 0.25s ease, color 0.25s ease, padding 0.25s ease;
}

.footer-link:hover {
	background: rgba(0, 0, 0, 0.7);
	color: rgba(0, 0, 0, 0.7);
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer-link-icon {
	width: 1.25em;
	margin-right: 0.5rem;
	text-align: center;
}

.footer-copyright {
	color: rgba(0, 0, 0, 0.7);
	font-size: 0.975rem;
	font-weight: var(--font-weight-bold);
}

.footer-credits {
	color: rgba(0, 0, 0, 0.7);
	font-size: 0.95rem;
	font-weight: var(--font-weight-regular);
}

.footer-credits a {
	color: rgba(0, 0, 0, 0.7);
	font-weight: var(--font-weight-medium);
}

.footer-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: vertical;
	-ms-flex-align: vertical;
	align-items: center;
	margin-left: auto;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

.footer-buttons li:not(:first-child) {
	margin-left: 0.5rem;
}

@media (max-width: 991px) {
	.footer-buttons {
		margin-top: 1rem;
		margin-left: 0;
	}
}

.footer-button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.7);
	height: 30px;
	padding: 0 1rem;
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8rem;
	font-weight: var(--font-weight-bold);
	border-radius: 0.5rem;
	-webkit-transition: background 0.25s ease, color 0.25s ease;
	transition: background 0.25s ease, color 0.25s ease;
}

.footer-button:hover {
	background: rgba(255, 255, 255, 0.06);
	color: rgba(0, 0, 0, 0.7);
}

.footer-button-sq {
	width: 30px;
	padding: 0;
	font-size: 1rem;
}

.footer-meta {
	margin-top: 1rem;
	color: rgba(0, 0, 0, 0.7);
	font-size: 0.85rem;
	font-weight: var(--font-weight-regular);
}


/* ============== BUTTONS */
.btn {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: transparent;
	height: 38px;
	padding: 0 1.25rem;
	border: none !important;
	border-radius: 0.5rem;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: var(--text-primary);
	font-size: 0.9rem;
	font-weight: var(--font-weight-heavy);
	line-height: 1;
	text-transform: uppercase;
	-webkit-transition: opacity 1.25s ease;
	transition: opacity 1.25s ease;
}

.btn-primary {
	background: var(--primary) !important;
	color: #fff !important;
}

.btn-lg {
	height: 42px;
	padding: 0 1.5rem;
	font-size: 0.85rem;
}

.btn-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
/* ========================= SIDEBAR ======================= */

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 6px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}


aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2pc 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ---------- MAIN ----------------- */

main{
    margin-top: 1.4rem;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type='date']{
    background: transparent;
    color: var(--color-dark);
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover {
    box-shadow: none;

}

main .insights > div span {
    background: coral;
    padding: 0.5rem;
    border: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.expenses span {
    background: var(--color-danger);
}

main .insights > div.income span {
    background: var(--color-success);
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

/* ================== RECENT ORDERS ================ */

main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2{
    margin-bottom: 0.8rem;
}

main .recent-orders table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary)
}

/* =========== RIGHT ============== */

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler .span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* =============== RECENT UPDATES ============= */

.right .recent-updates {
    margin-top: 1rem;
}

.right .recent-updates h2{
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover{
    box-shadow: none;
}

.right .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* ============== SALES ANALYTICS ============ */

.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2 {
    margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sales-analytics .item:hover{
    box-shadow: none;
}

.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon{
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right .sales-analytics .item.offline .icon {
    background: var(--color-danger);
}

.right .sales-analytics .item.customers .icon {
    background: var(--color-success);
}

.right .sales-analytics .add-product{
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sales-analytics .add-product div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}


.right .sales-analytics .add-product div h3 {
    font-weight: 600;
}


/* ============ MEDIA QUERIES ============= */

@media screen and (max-width: 1200px){
    .container{
        width: 94px;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-orders table {
        width: 83vw;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child{
        display: none;
    }
}

/* ============== MEDIA QUERIES =========== */

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo{
        margin-left: 1rem;
    }
    aside .sidebar h2{
        display: inline;
    }
    aside .sidebar h2{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-orders{
        width: 100%;
        position: relative;
        margin: 3rem 0 0 0;
    }

    main .recent-orders table {
        width: 100%;
        margin: 0;
    }

    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top{
        position: fixed;
        top: 0%;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }
    
    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }
}